
<div class="container mt-3 text-center">
        <div class="card-group">
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Admins Role</h5>
      <hr />
       @foreach(var item in ViewBag.listOfAdmin)
        {
            <h5 class="card-title" value="@item" selected>@item</h5>
        }
    </div>
  </div>
  <div class="card">
 
    <div class="card-body">
      <h5 class="card-title">Students Role</h5>
      <hr />
      @foreach(var item in ViewBag.listOfStudent)
        {
            <h5 class="card-title" value="@item" selected>@item</h5>
        }
    </div>
  </div>
  <div class="card">
     
    <div class="card-body">
      <h5 class="card-title">Instructor Role</h5>
      <hr />
 @foreach(var item in ViewBag.listOfInstructor)
            {
            <h5 class="card-title" value="@item" selected>@item</h5>
            }
    </div>
  </div>
</div>
 <a asp-controller="DashBoard" asp-action="index" class="btn btn-secondary p-1 pe-3 ps-3 mt-2">Back To Dashboard</a>

</div>