
<div class="container mt-3 text-center">

<div class="container">

    <div class="card-group">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <p class="card-text">Admins</p>
        @foreach(var item in ViewBag.listOfAdmin)
        {
            <h5 class="card-title" value="@item" selected>@item</h5>
        }
        <p class="card-text m-4">Students</p>
        @foreach(var item in ViewBag.listOfStudent)
        {
            <h5 class="card-title" value="@item" selected>@item</h5>
        }
        <p class="card-text m-4">Instructors</p>
        @foreach(var item in ViewBag.listOfInstructor)
            {
            <h5 class="card-title" value="@item" selected>@item</h5>
            }
            </div>
        </div>
        </div>
</div>