@{
    Layout = "_Academic";
}
<div class="container mt-3">
    <h1>@Model.Name</h1>
    <input type="hidden" value="@Model.Id" />
    <h3>@Model.Age</h3>
    <h3>@Model.Track_Id</h3>
    <h3>@Model.Address</h3>
    <h3>@Model.PhoneNumber</h3>
    <a asp-action="GetAll" asp-controller="Student" class="btn btn-secondary">Back</a>
    <a asp-action="GetAll" asp-controller="Student" class="btn btn-success">Back to student list</a>
</div><br /><br />

 

