@{
    Layout = "_Academic";
}
<div class="container mt-3">
    <h1>@Model.Name</h1>
    <input type="hidden" value="@Model.Id" />
    <h3>@Model.Age</h3>
    <h3>@Model.Track_Id</h3>
    <h3>@Model.Address</h3>
    <h3>@Model.PhoneNumber</h3>
<<<<<<< HEAD
    <a asp-action="GetAll" asp-controller="Student" class="btn btn-secondary">Back</a>
</div>
=======
</div><br /><br />
<a asp-action="GetAll" asp-controller="Student" class="btn btn-success">Back to student list</a>
>>>>>>> 2e576720f99124e6be44c2f7542fb5caf60faf93


 

