@model List<Course>

<div class="container mt-3">
    <a asp-action="Create" asp-controller="Course" class="btn btn-primary mb-3">Add new Course</a>
    <table class="table table-bordered text-center" width="50%">
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Track Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Duration</td>
                @foreach(var i in ViewBag.tracks)
                {
                    if(i.Id == item.TrackId)
                    {
                        <td>@i.Name</td>
                    }
                }
                <td> <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
                <td><a asp-action="Delete" asp-controller="Course" asp-route-id="@item.Id" onclick="ConfirmDelete(event)" class="btn btn-danger">Delete</a></td>
                
            </tr>
        }

    </table>
</div>

<script>
    function ConfirmDelete(){
        var accept=confirm("Are You Sure?");
        if(accept==false)
            event.preventDefault();
    }
</script>
