@model List<Instructor>

<table class="table table-bordered text-center" width="50%">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Salary</th>
        <th>PhoneNumber</th>
        <th>Track Name</th>
    </tr>
    <tr>
            @foreach (var item in Model)
            {
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Address</td>
                <td>@item.Salary</td>
                <td>+20 @item.PhoneNumber</td>
                @foreach(var i in ViewBag.tracks)
                {
                    if(i.Id == item.Track_Id)
                    {
                        <td>@i.Name</td>
                    }
                }   
            }   
    </tr>
</table>
