@model List<Instructor>

<table class="table table-bordered text-center" width="50%">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Salary</th>
        <th>PhoneNumber</th>
        <th>TrackId</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Address</td>
            <td>@item.Salary</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Track_Id</td>
        </tr>
    }
</table>
