@model List<Instructor>

<div class="container mt-3">
    <a asp-action="Create" asp-controller="Instructor" class="btn btn-primary mb-3">Add new Instructor</a>
    <table class="table table-bordered text-center" width="50%">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Salary</th>
            <th>PhoneNumber</th>
            <th>TrackId</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Address</td>
                <td>@item.Salary</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Track_Id</td>
                
                <td> <a asp-action="Update" asp-controller="Instructor" asp-route-id="@item.Id" class="btn btn-primary">Edit</a></td>
                <td><a asp-action="Delete" asp-controller="Instructor" asp-route-id="@item.Id" onclick="confirmDelete()" class="btn btn-danger">Delete</a></td>
           
                <td>+20 @item.PhoneNumber</td>
                @foreach(var i in ViewBag.trackName)
                {
                if(i.Id == item.Track_Id)
                {
                    <td>@i.Name</td>
                }
                }
                <td> <a asp-action="Update" asp-controller="Instructor" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@item.Id" onclick="confirmDelete()" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
</div>

<script>
    function confirmDelete() 
    {
        let message = confirm("Are You Sure?");
        if(message == false)
            event.preventDefault();
    }
</script> 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}